@use "variables" as v;
@use "sass:color";



/* ------------------LAYOUT / STRUCTURE--------------------------- */


.page-container {
  max-width: 1180px;
  margin: 0 auto;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: v.$primary-color;
  border-bottom: 1px solid rgba(167, 154, 157, 0.25);
}

.navbar {
  width: 100%;
  padding: 0;
}

.nav-wrapper {
  width: fit-content;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-logo {
  flex-shrink: 0;
}
/* ------------------FINE LAYOUT / STRUCTURE--------------------------- */


.hero-section {
  position: relative;
  z-index: 1;
  padding-bottom: 0;
  padding-top:100px;
  
}


.hero-row {
  row-gap: 48px;
}

.section-heading {
  max-width: 760px;
  margin-bottom: 48px;
  color: v.$secondary-color;
}
/* --------------------------- PROJECTS LAYOUT----------------------------------- */

.projects-section {
  padding-top: 80px;
}

.projects-section .section-heading {
  max-width: 760px;
  margin-left: auto;
  text-align: right;
  margin-bottom:8px;
  margin-top:-40px;

}


.projects-asymmetric-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 64px;
  row-gap: 64px!important;  
  align-items: stretch;
  margin-top:60px;
}

/* --------------------------- FINE PROJECTS LAYOUT----------------------------------- */


.approach-section {
  background-color: v.$primary-color;
  margin-top:-60px;
}

.approach-section .section-heading {
  margin-top:40px;
  margin-bottom:-50px;

}

.approach-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  border: 1px solid v.$neutral-light;
  background-color: v.$neutral-light;
  border-radius: v.$radius-lg;
  overflow: hidden;
}

.site-footer {
  padding: 32px 0;
  border-top: 1px solid v.$neutral-light;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}




