@use "sass:color";

$primary-color: #FCFAF6;
$secondary-color: #720E2B;

$secondary-color-dark: color.scale($secondary-color, $lightness: -18%);
$secondary-color-soft: color.scale($secondary-color, $lightness: 14%);
$secondary-color-fade: color.scale($secondary-color, $lightness: 28%);

$accent-color: #7DA6BB;
$neutral-dark: #1F1B1C;
$neutral-medium: #4A4243;
$neutral-light: #A79A9D;

$font-accent: "Geist Mono", monospace;
$font-heading: "Sundrea", serif;
$font-main: "Satoshi-Variable", sans-serif;

$project-uxui-color: #D7E3EA; // celeste
$project-branding-color: #D3B4BD; // rosa


$ecodream-color: #B3AC6D;
$ecodream-accent-color: #99567E;


$pof-color: #e5b03b;
$pof-accent-color: #9e005d;

/* =========================  TYPOGRAPHY SCALE - DESKTOP ========================= */

$font-size-h1: 4.25rem; // 68px
$line-height-h1: 5.1875rem; // 83px

$font-size-h2: 3.25rem; // 52px
$line-height-h2: 4.0625rem; // 65px

$font-size-h3: 2.375rem; // 38px
$line-height-h3: 2.8125rem; // 45px

$font-size-h4: 1.75rem; // 28px
$line-height-h4: 2.1875rem; // 35px

$font-size-body-lg: 1.2rem; // 20px
$line-height-body-lg: 1.6rem; // 26px

$font-size-body: 1rem; // 16px
$line-height-body: 1.5rem; // 24px

$font-size-body-sm: 0.875rem; // 14px
$line-height-body-sm: 1.1rem; // 17px

$font-size-label: 0.875rem; // 14px
$line-height-label: 1.375rem; // 22px

$font-size-link: 1rem; // 16px
$line-height-link: 1.5rem; // 24px

$font-size-link-sm: 0.8rem; // 13px
$line-height-link-sm: 1.1rem; // 16px


$radius-md: 8px;
$radius-lg: 16px;

$section-padding: 96px;

